/*contenedor principal*/
*{
  margin: 0;
  padding: 0;
}
.container {
    
    background-color: #282c34;
    min-height: 200vh;
    color: #d1d1d1;
  }
  .container-box{
    max-width: 900px;
    margin: 0 auto;
  }
/* footer */