.h1-title {
    color: rgb(188, 244, 245);
    font-size: 60px;
  }
  
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  
  .contenido-inicio {
    height: 90vh;
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: default;
  }
  
  .container-info-me {
    margin-top: 65px;
  }
  
  .h2-title {
    color: #61dafb;
    transition: color 0.3s ease;
    width: 265px;
  }
  
  .h2-title:hover {
    color: rgb(var(--accent));
  }
  
  .instructions {
    color: rgb(188, 244, 245);
  }
  
  .button-cv {
    padding: 5px;
    margin-top: 20px;
    font-size: 11px;
    border-radius: 5px;
    background-color: #61dafb;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button-cv:hover {
    background-color: rgb(var(--accent));
    color: rgb(188, 244, 245);
  }
  
  @media (max-width: 950px) {
    .contenido-inicio {
      margin-left: 10px;
      height: auto;
      margin-bottom: 50px;
    }
    .h1-title {
      color: rgb(188, 244, 245);
      font-size: 40px;
    }
  }
  