body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Neucha',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Neucha';
  src: url('./fonts/Neucha-Regular.ttf') format('truetype');
}

:root {
  --accent: 124, 58, 215;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #61dafb 25%,
    white 60%
  );
}
